<h1><%= @leaderboard.title %></h1>
<% unless @leaderboard.users.empty? %>
  <% @leaderboard.users.each do |user| %>
    <%= user.login %>
  <% end %>
<% else %>
  No users yet
<% end %>
<%= link_to "Add user", new_leaderboard_user_url(params[:id]) %>