<h1><%= @leaderboard.title %></h1>
<% unless @leaderboard.users.empty? %>
  <ul>
  <% @leaderboard.users.each do |user| %>
    <li><%= user.login %></li>
  <% end %>
  </ul>
<% else %>
  No users yet
<% end %>

<%= link_to "Back", leaderboards_url %>