<h1>Users</h1>
<table>
<tr>
  <td>Login</td>
  <td>Email</td>
  <td>Actions</td>
</tr>
<% unless @users.empty? %>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to "Edit", edit_user_url(user) %>
        <%= link_to "Destroy", user_url(user), :method => :delete, :confirm => "You sure?" %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>