<h1>Game</h1>

<% unless @game.scores.empty? %>
  <% @game.scores.each do |score| %>
    <div>
      <%= User.find(score.user_id).login %>: <%= score.score %>
    </div>
  <% end %>
<% end %>

<h2>Add score</h2>
<%= render :partial => 'scores/form' %>


<p><%= link_to "Back to leaderboard", leaderboard_url(params[:leaderboard_id]) %></p>